<!DOCTYPE>
<html>
<head>
  <title>Products</title>
</head>
<body ng-app="myApp">
  <div class="container">
    <h1> Products </h1>

    <table class="table" ng-controller="AppCtrl">
      <thead>
        <tr>
         
          <th>ID</th>
          <th>Name</th>
          <th>{{title}}</th>
          <th>Price</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Seller Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in productslist">
          <td>{{product.ID}}</td>
          <td>{{product.Name}}</td>
          <td>{{product.Price}}</td>
          <td>{{product.CreatedAt}}</td>
          <td>{{product.UpdatedAt}}</td>
          <td>{{product.SellerName}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <script src="nawar/ProductControllerr.js"></script>
</body>
</html>
